@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat&display=swap');
 
 body {
     color: #F2771A;
     background: #010203;
 }

.navbar-toggler {
    border: 1px solid #F2771A;
}

 #mainNav {
     border-color: transparent;
 }

#mainNav .navbar-toggler {
    font-size: 14px;
    color: #F2771A;
}

#mainNav .navbar-toggler:hover {
    color: aliceblue;
}

.navbar-dark .navbar-toggler {
    border-color: #F2771A;
}

 #mainNav .navbar-brand {
    color: #F2771A;
    font-weight: bolder;
    font-size: 1.4rem;
    border: 1px solid #F2771A;
    border-radius: 4px;
}

#mainNav .navbar-brand:hover {
    color: aliceblue;
}


#navbarResponsive .navbar-nav .nav-item .nav-link{
    padding: 4px;
    margin: 0px 2px;
    color: #F2771A;
    font-family: 'Michroma', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 2px;
}



#mainNav.is-fixed {
    position: fixed;
    top: -67px;
    transition: transform .2s;
    border-bottom: 1px solid #F2771A;
    background-color: #010203;
}

header.masthead .site-heading {
    padding: 215px 0 150px;
}

h1 {
    margin: 0px;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}
.brand {
    color: #F2771A;
    font-family: 'Michroma', sans-serif;
    font-weight: 600;
}
.subheading {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;

}

.padding {
   padding: 60px 0; 
   background-color: aliceblue;
}

.col-md-5 img {
    width: 100%;
}

.flashes h4 {
    line-height: 2;
    color: #F2771A;
}

.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 5px 15px;
  text-transform: uppercase;
  border-radius: 4px;
}

.btn-primary {
  background-color: #F2771A;
  border-color: #1C1919;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #000000;
  background-color: #F2771A !important;
  border-color: #1C1919 !important;
}

.btn-lg {
  font-size: 16px;
  padding: 15px 25px;
}

.card {
    padding: 0px 12px;
}

.card-body {
    background-color: #737C8C;
    border-color: #1C1919;
    margin: 10px 0px;
}

li.card-body {
    background-color: #F2771A;
}
h2 {
    color: #F2771A;
    font-family: 'Michroma', sans-serif;
}
h2.post-title {
    color: #737C8C;
    text-transform: uppercase;
}

h3.post-title {
    color: #F2771A;
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase;
}
h4.post-subtitle{
    color: #F2771A;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h5.card-title{
    margin: 12px 0 12px;
    color:  #737C8C;
    font-family: 'Michroma', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

p {
  line-height: 1.2;
  margin: 30px 0;
  font-family: 'Montserrat', sans-serif;
  color: #1C1919;
}

p.login {
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase;
    color: #7E7E82;
}

 a{
   color: #EDEDEE; 
}

p.card-text {
    margin: 15px 0px;
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase; 
    font-weight: 500;
    color: #1C1919;
}

.info {
    font-family: 'Montserrat', sans-serif;
    color: #EDEDEE;
    text-transform: uppercase;
}

p.card-text-profile {
    margin: 15px 0px;
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase; 
    font-weight: 500;
    color: #F2771A;
}

.col.s12.m4 {
    padding: 0px;
}

span.subheading {
    color:  #F2771A;
}

.categories {
    margin: 20px;
}