"".col-md-5 img {
    width: 100%;
}

.flashes h4 {
    line-height: 2;
    color: #F2771A;
}


.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 5px 15px;
  text-transform: uppercase;
  border-radius: 4px;
}

.btn-primary {
  background-color: #F2771A;
  border-color: #1C1919;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #000000;
  background-color: #F2771A !important;
  border-color: #1C1919 !important;
}

.btn-lg {
  font-size: 16px;
  padding: 15px 25px;
}
.card-body {
    background-color: #EDEDEE;
    border-color: #1C1919;
    margin: 10px 0px;
}

li.card-body {
    background-color: #EDEDEE;
}
h2 {
    color: #F2771A;
}
h2.post-title {
    color: #7E7E82;
}
h3 {
    color: #1C1919;
}
h3.post-subtitle{
    color: #F2771A;
}

h5.card-title{
    margin: 12px 0 12px;
    color:  #F2771A;
}
p {
  line-height: 1.2;
  margin: 30px 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p.card-text {
    margin: 15px 0px;
}
.col.s12.m4 {
    padding: 0px;
}
span.subheading {
    color:  #F2771A;
}
.categories {
    margin: 20px;
}