{% extends "base.html" %}
{% block content %}
    
 
 <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <br>
                <h4 class="post-subtitle">If you wish to create an advert about your KTM, press button below</h4>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    CREATE ADD
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal-title">Create Your Add</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="{{ url_for('add_post')}}" enctype="multipart/form-data">
                                    <select id="category_name" name="category_name" class="validate" required>
                                        <option selected> Choose Your Bike Category</option>
                                        {% for category in categories %}
                                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="category_name">Bike category</label>
                                    <div class="form-group">
                                        <label for="model">Model</label>
                                        <input type="text" class="form-control" id="model" name="model" placeholder="Model:" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="year">Year Of Manucacture</label>
                                        <input type="text" class="form-control" id="year" name="year" placeholder="Year of Manufacture:">
                                    </div>
                                   
                                     <div class="form-group">
                                        <label for="description" class="form-label"></label>
                                        <textarea class="form-control" id="description" name="description" placeholder="description" rows="4"
                                            maxlenght="200"></textarea>
                                    </div>
                                      <div class="form-group">
                                        <label for="Image" class="form-label" >Image</label>
                                       <input type="file" class="form-control" id="image" name="image" required> 
                                    </div>
                                    <div class="form-group">
                                        <label for="mileage">Mileage</label>
                                        <input type="text" class="form-control" id="mileage" name="mileage" placeholder="Mileage:">
                                    </div>
                                    <div class="form-group">
                                        <label for="price">Price</label>
                                        <input type="text" class="form-control" id="price" name="price" placeholder="Price:">
                                    </div>
                                    <div class="form-group">
                                        <label for="seller">Your Name</label>
                                        <input type="text" class="form-control" id="seller" name="seller" placeholder="Your Name:" minlength="3"
                                            maxlength="15">
                                    </div>
                                    <div class="form-group">
                                        <label for="contact_number">Mobile Number</label>
                                        <input type="text" class="form-control" id="contact_number" name="contact_number" placeholder="Mobile Number:"
                                            required>
                                    </div>
                                    <div class="form-group"> <!-- Date input -->
                                        <label class="control-label" for="date_posted">Date Posted:</label>
                                        <input class="form-control" id="date_posted" name="date_posted" placeholder="DD/MM/YYYY" type="text"/>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" name="action" class="btn btn-primary">Create ADD</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
        
    
{% endblock %}