{% extends "base.html"%}
{% block content%}
     <h2>{{ page_title }}</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h2 class="post-title">Log In, To Advertise Your Bike!</h2>
                <form id="contactForm" method="POST" action="{{ url_for('login') }}">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Username</label>
                            <input id="username" type="username" name="username" class="form-control" placeholder="Username"
                                minlength="5" maxlength="20" required
                                data-validation-required-message="Please enter your username.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Password</label>
                            <input id="password" type="password" name="password" class="form-control" placeholder="Password"
                                 minlength="5" maxlength="15"
                                data-validation-required-message="Please enter your password." required>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <button type="submit" class="btn btn-primary">Log In</button>
                </form>
                <div class="row">
                    <div class="mb-3">
                        <p>
                            Are you new here? <a href="{{ url_for('register')}}">Register Account</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        
 {% endblock %}    
 