{% extends "base.html"%}
{% block content%}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h3 class="d-flex justify-content-center" >{{ username }}'s profile</h3>
                </div>
            </div>
            <br>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="table-responsive wishlist-table margin bottom-none">
                <table class="table">
                    <thead>
                    
                    </thead>
                    <tbody>
                        {% for post in wishlist %}
                        <tr>
                            <td>
                                <div>
                                    <div >
                                        <h5 class="card-title">{{ post.model }}<a href=""></a></h5>
                                        <div>Price: {{ post.price }}$</div>
                                        <div>Contact: {{ post.contact_number }}</div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center"><a  class="btn btn-primary" href="/clear_wishlist/{{post._id}}">Clear</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        
        </div>
    </div>
 {% endblock%}
 