{% extends "base.html"%}
{% block content%}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h3>{{ username }}'s Profile</h3>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p></p>
                <a href="{{ url_for('add_post') }}" class="btn btn-info" role="button">Create Add</a>
            </div>
        </div>
    </div>
 {% endblock%}