{% extends "base.html"%}
{% block content%}
    <h2>{{ page_title }}</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h4 class="post-subtitle">Fill out the form below to create your account.</h4>
                <form id="contactForm" method="POST" action="{{ url_for('register') }}">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Username</label>
                            <input id="username" type="username" name="username" class="form-control" placeholder="Username"
                                minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" required
                                data-validation-required-message="Please enter your username.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Password</label>
                            <input id="password" type="password" name="password" class="form-control" placeholder="Password"
                                required minlength="5" maxlength="10"
                                data-validation-required-message="Please enter your password.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <button type="submit" class="btn btn-primary">Register</button> 
                </form>
                <div class="row">
                    <div class="mb-3">
                        <p>
                            Existing User? <a href="{{ url_for('login')}}">Log In</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

 {% endblock%}